<header *ngIf="route == '' || route == 'homeEmpresa'" class="bg-[#004C99]-500 flex justify-between px-30 h-15 bg-white shadow sticky top-0 z-50">
    <nav class="flex items-center text-center h-full">
        <ul class="flex gap-20 h-full">
            <li class="h-full">
                <a [routerLink]="['']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="border-b-2 border-blue-500" class="flex items-center h-full">Para Você</a>
            </li>
            <li class="h-full">
                <a [routerLink]="['/homeEmpresa']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="border-b-2 border-blue-500" class="flex items-center h-full">Para Empresas</a>
            </li>
        </ul>
    </nav>
    <div class="flex items-center text-center">
        <ul class="flex ">
            <li>
                <a [routerLink]="['/login']" class="px-2 flex items-center h-full">Entrar</a>
            </li>
            <li>
                <a
                    [routerLink]="router.url.includes('homeEmpresa') ? '/registerBusiness' : '/register'"
                    class="px-2 flex items-center h-full"
                >
                    {{ router.url.includes('homeEmpresa') ? 'Cadastre sua empresa' : 'Cadastrar' }}
                </a>
            </li>
        </ul>
    </div>
</header>

<header *ngIf="route == 'login' || route == 'register' || route == 'registerBusiness'" class="flex px-30 h-15 bg-gray-200 justify-center items-center">
    <h1 (click)="navigateToHome()">ConectaCimatec</h1>
</header>

<header *ngIf="isLoggedRole == 'aluno' && (route == 'jobExplorer'|| route == 'profile' )" class="bg-white border-b shadow-sm sticky top-0 z-10">
    <div class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-blue-600">VagasTech</h1>
        <div class="flex gap-4 items-center">
          <span class="text-sm text-gray-600" (click)="navigateToProfile()">Bem-vindo, <strong>{{getUserName()}}</strong></span>
          <button type="button" class="text-red-600 hover:underline text-sm" (click)="logOut()">Sair</button>
        </div>
      </div>
</header>

<header *ngIf="isLoggedRole == 'empresa' && (route == 'publishedJobs' || route == 'registerNewJob')" class="bg-white border-b shadow-sm sticky top-0 z-10">
      <div class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-blue-600">VagasTech</h1>
        <div class="flex gap-4 items-center">
          <span class="text-sm text-gray-600">Bem-vindo, <strong>{{getUserName()}}</strong></span>
          <button type="button" class="text-red-600 hover:underline text-sm" (click)="logOut()">Sair</button>
        </div>
      </div>
</header>